<table align="center" width="75%">
    <thead>
        <tr>
            <th colspan="2" class="text-center">DASHBOARD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
                <td colspan="1" class="text-center">
                <input type="button" (click)="onClickAddCourse()" value="ADD A COURSE" />
                </td>
                <td colspan="1" class="text-center">
                    <input type="button" (click)="onClickDropCourse()" value="DROP A COURSE" />
                    </td>
                </tr>
            <tr>
                    <td colspan="1" class="text-center">
                        <input type="button" (click)="onClickAddModule()" value="ADD A MODULE" />
                        </td>
                        <td colspan="1" class="text-center">
                            <input type="button" (click)="onClickDropModule()" value="DROP A COURSE" />
                            </td>
                        </tr>
                    <tr>
                        <td colspan="1" class="text-center">
                <input type="button" (click)="onClickLogout()" value="LOG OUT" />
                </td>
        </tr>
       
    </tbody>
</table>